# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.lib

# Executables
*.exe
*.out
*.app

bin/*
!bin/README

# QtFiles
*.creator
*.creator.user
*.config
*.includes
*.files

./data/*
./data/*/*
!data/leleccum.txt